body {
  box-sizing: border-box;
  
}

.container {
  display: flex;
  justify-content: center;
  
  margin-top: 25%;

}

button {
  height: 2em;
  font-size: 36px;
  justify-content: center;
  text-align: center;
  font-family: Helvetica;
  border-radius: 10px;
  background-color: lightblue;
}

button:hover {
  background-color: lightcyan;
  transform: scale(110%);
  
}

.popup-modal {
  padding: 32px 64px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform-origin: center;
  transform: translate(-50%, -50%);
  pointer-events: none;
  opacity: 0%;
  text-align: center;
}

.popup-modal p {
  margin-bottom: 24px;

}

.backdrop {
  pointer-events: none;
  position: fixed;
  inset: 0;
  background: #000;
  opacity: 0%;
}

.popup-modal.show {
  opacity: 100%;
  pointer-events: all;
  
}

.backdrop.show {
  opacity: 30%;
}